.imagem-reuel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}

body {
  background-color: #1a1a1a;
  color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img {
  border-radius: 300px;
  width: 90px;
}

.cabecalho-da-lista-de-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.secao-instagram {
  display: flex;
  margin: 30px;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 500px;
  border-radius: 60px;
  transition: 0.7s;
}

a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: black;
  padding: 30px;
}

.secao-instagram:hover {
  transform: scale(1.2);
}

.secao-whatsapp {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 500px;
  border-radius: 60px;
  transition: 0.7s;
}

.secao-whatsapp:hover {
  transform: scale(1.2);
}

@media (max-width: 480px) {
   body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
}